<div class="row">
    <form action="/generate-fake-posts" method="POST">
        <h1>Generate Posts</h1>
        <div class="form-group">
            <input name="amount" type="number" class="form-control">
        </div>
        <button type="button">Create</button>
    </form>
</div>